body{
margin:0;
font-family:Arial;
}

.toolbar{
background:#1e1e1e;
color:white;
padding:10px;
}

button{
margin-right:5px;
}

#editor{
height:80vh;
}

#status{
background:#eee;
padding:6px;
font-size:14px;
}

.sameKey{
background:rgba(255,255,0,0.4);
}
